* {
  margin: 0;
  padding: 0;
  font-family: Modern Antiqua, cursive;
}

body {
  display: flex;
  flex-direction: column;
  background-color: rgb(230, 227, 227);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(50, 167, 145);
  padding: 8px;
}

#trybewarts-header-title {
  color: white;
  font-size: 50px;
}

textarea:focus , input:focus , select:focus {
  outline-color: rgb(78, 44, 131);
}

.trybewarts-login {
  display: flex;
}

.email {
  width: 120px;
  padding: 15px;
  border-radius: 10px;
  border: none;
  margin-right: 5px;
}

.password {
  width: 120px;
  padding: 15px;
  border-radius: 10px;
  border: none;
  margin-right: 5px;
}

.entry {
  width: 100px;
  color: white;
  background-color: rgb(78, 44, 131);
  padding: 15px;
  border-radius: 10px;
  border: none;
}

.trybewarts-header-logo {
  width: 100px;
}

#corpo {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}

main {
  display: flex;
}

#title2 {
  text-align: center;
  padding: 35px;
}


#evaluation-form {
  display: flex;
  flex-direction: column;
  width: 675px;
}

#trybewarts-forms-logo {
  height: 500px;
}

#line1 {
  margin-bottom: 10px;
}

#line1 input {
  border: none;
  width: 45%;
  padding: 15px;
  border-radius: 10px;
}

#line2 input {
  width: 45%;
  padding: 15px;
  border-radius: 10px;
  border: none;
}

#house {
  border: none;
  background-color: white;
  width: 42%;
  padding: 15px;
  border-radius: 10px;
}

hr {
  width: 100%;
  height: 1px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: none;
  background-color: gray;
}

#botoes {
  display: flex;
  justify-content: space-between;
}

#q1 {
  width: 40%;
}

#q1 label {
  line-height: 50px;
}

#q2 {
  width: 60%;
}

#q2 :nth-child( 5 ) {
  margin-left: 50px;
}

#q2 :nth-child( 7 ) {
  margin-left: 50px;
}

#q2 :nth-child( 12 ) {
  margin-left: 42px;
}

#q2 :nth-child( 14 ) {
  margin-left: 50px;
}

#q2 label {
  line-height: 50px;
}

#avalia input {
  margin: 3px;
}

#comentario {
  margin-top: 20px;
  margin-bottom: 20px;
}

#comentario p {
  font-size: medium;
}

.textarea {
  line-height: 35px;
}

#textarea {
  padding: 5px;
  border-radius: 5px;
  resize: none;
  width: 98%;
  border: 1px solid rgb(78, 44, 131);
}

#submit-btn {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  padding: 10px;
  background-color: rgb(78, 44, 131);
  color: white;
  border-radius: 10px;
}

.enable-btn {
  border-color: rgb(190, 161, 237);
  border-width: 4px;
  border-style: double;
}

footer {
  color: white;
  background-color: rgb(60, 64, 74);
  text-align: center;
  padding: 15px;
}

.show {
  height: 812px;
  font-size: larger;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 675px;
  overflow-wrap: break-word;
}

.dontShow {
  display: none;
}
